// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seat {
  width: 150px;
  height: 150px;
  display: inline-block;
  text-align: center;
  background: green;
  margin: 10px;
}

.taken {
  background: red;
}

#event_creation {
  width: 600px;
}

#event_desc {
  width: 600px;
  height: 300px;
}